[Unit]
Description=YunoHost Tor Client.
Requires=ynh-hotspot.service
After=ynh-hotspot.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ynh-torclient start
ExecStop=/usr/local/bin/ynh-torclient stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
